<div class="section animated-row" data-section="slide03">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
<h2>{{class.title}}'s Classes</h2>
<table cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>Lesson Number</th>
			<th>Lesson Title</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each class.lessons}}
			<tr>
				<td>{{lesson_number}}</td>
				<td>{{lesson_title}}</td>
				<td><a href="/classes/{{../class._id}}/lessons/{{lesson_number}}">View Lesson</a></td>
			</tr>
		{{/each}}
	</tbody>
</table>
</div>
</div>
</div>
</div>
</div>